#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }
  
  .green{
    background-color: green;
  }
  .red{
    background-color: red;
  }
  
  
  #buttons {
    margin: 10px 10px 40px;
  }

  .game {
    margin: 10px
  }
  
  #main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: purple solid
  }

 
  
  .flex-item{
  min-width: 300px;
  flex:1;
  }
  
  #word{
    margin: 50px;
    font-size: 30px;
  }
  
  #header{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    border: red solid;
    gap: 30px
  
  }
  #title {
    flex: 1
  }
  
  #difficulty {
    flex: 1;
    min-width: 200px;
  }
  h1{
    margin: 10px;
  }
  
  #hangmanDiv{
    text-align: center;
    border: green solid
  }

  #hangman {
    max-width: 100%;
    display: flex;
    flex: 1;
    margin: 0 auto; 
    border: green solid
  
  } 
  #hangman  img {
    width: 100%
  }